body {
  background: linear-gradient(140deg, #ffffff, #ffba69);
  background-size: 400% 400%;

  -webkit-animation: bodyBackground 0s ease infinite;
  -moz-animation: bodyBackground 0s ease infinite;
  animation: bodyBackground 0s ease infinite;
}

@-webkit-keyframes bodyBackground {
  0%{background-position:53% 0%}
  50%{background-position:48% 100%}
  100%{background-position:53% 0%}
}
@-moz-keyframes bodyBackground {
  0%{background-position:53% 0%}
  50%{background-position:48% 100%}
  100%{background-position:53% 0%}
}
@keyframes bodyBackground {
  0%{background-position:53% 0%}
  50%{background-position:48% 100%}
  100%{background-position:53% 0%}
}

img {
  width: 10rem;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}