@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");

///////// ROOT /////////
body {
  font-family: "Inconsolata";
  background-color: #f1f1f1;
}

img {
  width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

///////// APP.tsx /////////
.wrapper {
  display: flex;
}
.whoami-skills-wrapper {
  display: flex;
}

.section-wrapper {
  padding-right: 5rem;
}

///////// NAVBAR.tsx /////////
.nav {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  width: 100%;
  flex-direction: column;
}

.nav-placeholder:hover {
  color: grey;
  cursor: pointer;
}

.nav-placeholder {
  padding-top: 0.05rem;
  text-decoration: none;
  color: black;
}

.icon {
  padding-right: 2rem;
  width: 2rem;
}

.whoami-wrapper {
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon-wrapper {
  display: flex;
}

.nav-item {
  display: flex;
  padding-right: 2rem;
}

///////// SKILLS /////////
.skills-wrapper {
  padding-left: 2.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}

.skills-icon {
  width: 1rem;
  padding-right: 0.25rem;
  // padding-left: 0.25rem;
}

.skill {
  padding-right: 8rem;
  padding-bottom: 2rem;
}

.redux-icon {
  width: 0.8rem;
  padding-right: 0.35rem;
  padding-left: 0.6rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.skills-title {
  font-size: 1.25rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
}

///////// EXPERIENCE /////////
.job-title {
  font-size: 1.25rem;
  a {
    text-decoration: none;
    color: blue;
  }
  a:hover {
    color: lightgray;
  }
}

ul {
  margin: 0.5rem;
}

.experience-wrapper {
  width: 100%;
  padding-top: 2.5rem;
}

.title {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}

.sub-title {
  padding-top: 0.5rem;
}

///////// PROJECTS /////////
.projects-wrapper {
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

.contributors {
  padding-top: 1rem;
  ul {
    margin-top: 0;
    padding: 0;
  }
  li {
    padding-bottom: 1rem;
  }
}

.project-wrapper {
  display: grid;
  grid-template-columns: 18rem 35rem 10rem auto;
}

.project-description {
  padding-top: 1rem;
  margin-right: 4rem;
  font-size: 0.9rem;
  text-indent: 1.5rem;
}

.project-img {
  width: 12rem;
  height: 12rem;
  padding: 0;
  margin: 0;
}

.project-img-bg {
  background-color: lightgray;
  border: 1px solid black;
  height: 12rem;
  width: 12rem;
}

.projects-title {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

///////// MEDIA QUERIES /////////
@media only screen and (max-width: 1426px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .experience-wrapper {
    width: 100%;
    padding-left: 2.5rem;
  }

  .skills-wrapper {
    grid-template-columns: auto auto auto;
  }

  .nav-link-bar {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1024px) {
  .project-wrapper {
    grid-template-columns: auto auto;
  }

  .project-section {
    padding-bottom: 2rem;
    padding-right: 2rem;
  }

  .project-description {
    margin: 0;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .experience-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .skills-wrapper {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 768px) {
  .whoami-skills-wrapper {
    display: flex;
    flex-direction: column;
  }

  .experience-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .project-wrapper {
    grid-template-columns: auto auto;
  }

  .projects-wrapper {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .nav {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .section-wrapper {
    padding-right: 0rem;
  }

  .whoami-wrapper {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .skills-wrapper {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .skills-title {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 680px) {
  .project-wrapper {
    grid-template-columns: auto;
  }
}
